{
   "env": {
      "node": true
   },
   "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
   },
   "extends": [
      "eslint:recommended",
      "plugin:vue/essential"
   ],
   "rules": {
      "semi": ["error", "always"],
      "no-debugger": 0,
      "vue/no-parsing-error": [2, { "invalid-first-character-of-tag-name": false }]
   }
}
