    <footer>
      <div class="container-lg p-responsive py-4 ">
        <p class="text-center f5 mt-4">&copy; 2017 - {{ site.time | date: '%Y' }} <span>NewsNow</span> Publishing Limited and contributors</p>
      </div>

    </footer>


    <script src="{{ "/assets/vendor/anchor-js/anchor.min.js" | relative_url}}"></script>
    <script src="{{ "/assets/vendor/jquery/dist/jquery.min.js" | relative_url}}"></script>
    <script>anchors.add('.org-type h4');</script>
    <script src="{{ "/assets/js/home.js" | relative_url}}"></script>
  </body>
</html>
