<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <meta name="google-site-verification" content="0HaP_V-ZTKx27PHZQRu6Lr-wXU6Lg6AZwh3cJKFwod8" />

   <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-T28RLT7');</script>
   <!-- End Google Tag Manager -->

  {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T28RLT7"
   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) -->

  <div class="page-header pt-4 pb-5">
    <div class="container-lg">
      <div class="text-center">
        <div class="pb-6 mb-4">
          <ul>
            <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="#features" class="text-white">Features</a></li>
            <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://www.demo.dockside.cloud/demo/" class="text-white" target="docksidedemo" title="Try the Dockside Live Demo">Live Demo</a></li>
            <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="#getting-started" class="text-white">Getting Started</a></li>
            <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="#support" class="text-white">Support</a></li>
            <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://github.com/newsnowlabs/dockside" class="text-white" target="docksidegithub" title="Learn more about Dockside on GitHub">GitHub</a></li>
            <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://medium.com/newsnowlabs" class="text-white" target="newsnowlabsmedium">News</a></li>
          </ul>
       </div>
        <a href="{{ "/" | relative_url}}"><img class="logo py-3" src="{{ "/assets/img/dockside.svg" | relative_url}}" alt="Dockside"></a>
      </div>
    </div>
