resources:
- name: dockside
  type: templates/instance.jinja
  properties:
    name: {{ properties["name"] }}
    dns_name: {{ properties["dns_name"] }}
    machine_zone: {{ properties["machine_zone"] }}
    machine_type: {{ properties["machine_type"] }}
    disk_type: {{ properties["disk_type"] }}
    disk_size: {{ properties["disk_size"] }}
    disk_image: {{ properties["disk_image"] }}
    dockside_image: {{ properties["dockside_image"] }}
- name: nn-public-rrset
  type: gcp-types/dns-v1:resourceRecordSets
  properties:
    name: {{ properties["dns_name"] }}.
    managedZone: {{ properties["managed_zone"] }}
    records:
    - type: A
      ttl: 30
      rrdatas:
      - $(ref.{{ properties["name"] }}.networkInterfaces[0].accessConfigs[0].natIP)
- name: dockside-dns
  type: compute.v1.firewall
  properties:
    targetTags: ["dockside-dns"]
    sourceRanges: ["0.0.0.0/0"]
    allowed:
      - IPProtocol: UDP
        ports: ["53"]
- name: dockside-http
  type: compute.v1.firewall
  properties:
    targetTags: ["dockside-http"]
    sourceRanges: ["0.0.0.0/0"]
    allowed:
      - IPProtocol: TCP
        ports: ["80"]
- name: dockside-https
  type: compute.v1.firewall
  properties:
    targetTags: ["dockside-https"]
    sourceRanges: ["0.0.0.0/0"]
    allowed:
      - IPProtocol: TCP
        ports: ["443"]
