[Unit]
Description=Dockside container stack
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecReload=/usr/local/lib/dockside/dockside-network-firewall.sh
ExecStartPre=/usr/local/lib/dockside/dockside-network-firewall.sh
ExecStart=/usr/bin/docker compose -f /usr/local/lib/dockside/docker-compose.yml up -d
ExecStop=/usr/bin/docker compose -f /usr/local/lib/dockside/docker-compose.yml down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
