div.dockside {
   background-image: url(/ico/dockside.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   margin-bottom: 10px;

   background-size:100% auto;
   -o-background-size:100% auto;
   -webkit-background-size:100% auto;
   -moz-background-size:100% auto;
}

.branded {
  padding: 1em;
  margin: 0 auto;
}

.branded.demo {
  max-width: 430px;
}

.branded.demo div.dockside {
   height: 74px;
}

.branded.signin div.dockside {
   height: 58px;
}

.branded.signin {
   max-width: 330px;
}

.branded .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.branded .form-control:focus {
  z-index: 2;
}

.branded input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.branded input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
